# Python
__pycache__/
*.py[cod]

# Flask
instance/
.env

# Database
*.db

# Virtual Environment
venv/

# Node.js and Playwright
node_modules/
package-lock.json
/test-results/
/playwright-report/
/playwright/.cache/